<h1>Заказ №{{ order.id }}</h1>

<p>Клиент: {{ order.client }}</p>
<p>{{ order.driver }}</p>
<p>Откуда: {{ order.from_address }}</p>
<p>Куда: {{ order.to_address }}</p>
<p>Статус: {{ order.status }}</p>
<p>Цена: {{ order.price }}</p>
<p>Дополнительные услуги: {{ order.services.all|join:", " }}</p>
<p>Итоговая стоимость: {{ order.total_price }}</p>

{% if order.receipt %}
    <p>Чек: <a href="{{ order.receipt.url }}" target="_blank">Скачать</a></p>
{% else %}
    <p>Чек не загружен</p>
{% endif %}

<br>

<a href="{% url 'order_update' order.id %}">Редактировать</a>

<a href="{% url 'order_delete' order.id %}">Удалить</a>

<br><br>

<a href="{% url 'orders_list' %}">Назад</a>